<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d4937b">  <td>23/01/24 15:53:36</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestForm.AfterTest()[pri:0, instance:tests.TestForm@7d900ecf]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1161322357</td>   <td></td> </tr>
<tr bgcolor="d4937b">  <td>23/01/24 15:53:20</td>   <td>-16659</td> <td>&nbsp;</td><td title="&gt;&gt;TestForm.beforetest()[pri:0, instance:tests.TestForm@7d900ecf]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1161322357</td>   <td></td> </tr>
<tr bgcolor="d4937b">  <td>23/01/24 15:53:26</td>   <td>-10423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestForm.fillingForm()[pri:0, instance:tests.TestForm@7d900ecf]">fillingForm</td> 
  <td>main@1161322357</td>   <td></td> </tr>
</table>
